$blueBackground : #6ed8ff;
$blueSecondaryBackground : #6accf1;
$headerBlue : #41c9fd;

$mainGreen : #3cc283;
$hoverGreen : #33cc99;

$mainGrey : #292c2f;

$mainOrange : #f36326;
$hoverOrange : #ff6633;