<header></header>
<div style="background-color: #6accf1" class="container">
    <div class="wrapper">
        <h1>Track <div class="bold"> your shipment</div></h1>
        <div [ngClass]="{'note-card--track': !isTracking }" class="note-card">
            <div class="row">
                <div class="focus">
                    <div class="row-10">
                        <h3>Enter tracking number</h3>
                    </div>
                    <div class="row-2">
                        <h3 class="row-2 row-2--arrow">></h3>
                    </div>
                    <div class="row-12">
                        <input type="text" placeholder="Enter your tracking number" [(ngModel)]="trackingNumber" name="trackingNumber" (keyup)="checkLength()">
                    </div>
                </div>
                <div *ngIf="isTracking">
                    <div class="note-card__tracking-info">
                        <div class="row-12">
                            <h3>Package Information</h3>
                        </div>
                            <div class="row-12">
                                    <h3>Tracking Number: {{trackingNumber}}</h3>
                            </div>
                            <table class="table">
                                <tr>
                                    <div class="row-12">
                                        <th>Shipping Progress</th>
                                    </div>
                                </tr>
                                
                                <tr>
                                    <div class="row-6">
                                        <th class="table__col-header">Location</th>
                                    </div>
                                    <div class="row-6">
                                        <th class="table__col-header">Date</th>
                                    </div>
                                </tr>
                                <div class="table__section-border">                                
                                    <tr>
                                        <ul>
                                            <div class="row-12 table--c-row">
                                                <li>Rogers, AR</li>
                                                <li>12/01/2015</li>
                                            </div>
                                            <div class="row-12 table--c-row">
                                                <li>Rogers, AR</li>
                                                <li>12/01/2015</li>
                                            </div>
                                            <div class="row-12 table--c-row">
                                                <li>Rogers, AR</li>
                                                <li>12/01/2015</li>
                                            </div>
                                            <div class="row-12 table--c-row">
                                                <li>Rogers, AR</li>
                                                <li>12/01/2015</li>
                                            </div>
                                        </ul>
                                    </tr>
                                </div>
                            </table>
                            <table class="table">
                                <tr>
                                    <div class="row-12">
                                        <th>Package Information</th>
                                    </div>
                                </tr>
                                <div class="table__section-border">                                                                
                                    <tr>
                                        <div class="row-12">
                                            <span><strong>Weight:</strong> 1.12lbs</span>                                        
                                        </div>
                                        <div class="row-12">
                                            <span><strong>Type:</strong> Box</span>
                                        </div>
                                    </tr>
                                </div>
                            </table>
                    </div>
                        <div class="row-12">                                                       
                            <div class="wrapper wrapper__inner">
                                <div class="wrapper__inner-container">
                                    <div class="loading-ring">
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="row-12">
                    <a (click)="trackShipment()" [ngClass]="{'btn--next-large--track-submit': isSubmit }" class="btn btn--next btn--next-large btn--next-large--track">Track</a>
                </div>
            </div>
        </div>
    </div>
</div>