.loading-ring {
    opacity: 0;
    background-image: url("../../app/assets/images/loading-ring.svg");
    background-position: center;
    background-size: contain;
    height: 120px;
    width: 120px;
    animation: loadingRing 3s 1;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    margin-top: -80px;
}
.loading-ring__main {
    background-image: url("../../app/assets/images/main-ring.svg");
    background-position: center;
    background-size: contain;
    height: 120px;
    width: 120px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

}