<div class="site-header">
    <div class="site-header__heading">
        <h1>uncle bob's trucking</h1>
        <h2>1.888.654.9876</h2>
        <span> | </span>
        <h2>unclebobs.com</h2>
    </div>
    <div class="site-header__photo">
    </div>
</div>

<div class="box">
    <img src="app/assets/images/pallet-box.svg" />
    <div class="box__heading">
        <h1>Hello.</h1>
        <h2>Let's get started.</h2>
    </div>
</div>

<div class="headline">
    <div class="headline__heading">
    <h1>Hello.</h1>
    <h2>Let's get started.</h2>
    </div>
    <div class="headline__section">
        <a class="btn btn--orange btn--headline" href="#">Get Quote</a>
        <a class="btn btn--green btn--headline" href="#">Track shipment</a>
        <div class="headline__or">
            <div class="hr"></div>
            <span>or</span>
            <div class="hr"></div>
        </div>
        <a class="btn btn--headline" href="#">Sign In</a>
    </div>
</div>